body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #432f41;
    color: blanchedalmond;
}


.password-display {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-style: dotted;
    border-color: blueviolet;
    height: 350px;
    border-radius: 25px;
}

h1 {
    text-align: center;
}

.pass-box {
text-align: center;
border-style: solid;
width: 505px;
height: 84px;
margin-left: auto;
margin-right: auto;
margin-top: 68px;
border-radius: 15px;
}

.password-options{
    text-align: center;
    width: 538px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
    }
   


button {
    margin: 12px 40px 83px 250px;
    background-color: bisque;
    border-style: dotted;
    border-color: aquamarine;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(91, 29, 199);
    color: white;
}