body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: #432f41;
    color: blanchedalmond;
}


.password-display {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    border-style: dotted;
    border-color: blueviolet;
    height: 350px;
    border-radius: 25px;
}

h1 {
    text-align: center;
}

.password-box textarea {
    width: 500px;
    height: 78px;
    /* border-style: solid; */
    border-color: blanchedalmond;
    border-radius: 11px;
    color: rgb(138, 59, 103);
    text-align: center;
    font-size: 21px;
    background: rgb(169, 235, 242);
}

.password-box {
    text-align: center;
    border-style: solid;
    width: 505px;
    height: 84px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
    border-radius: 15px;
}

.password-options {
    text-align: center;
    width: 538px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 19px;
}



button {
    margin: 12px 40px 83px 250px;
    background-color: bisque;
    border-style: dotted;
    border-color: aquamarine;
    height: 50px;
    font-size: 20px;
    border-radius: 20px;
}

button:hover {
    background-color: rgb(91, 29, 199);
    color: white;
}